
        <div>

            Orders page<br/>
            <% if(messages.success) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.success %></span></pre>
			<% } %>
            <% if(orders.length) { %>
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Address</th>
                            <th>Payment Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var count=1; %>
                        <% orders.forEach((order)=>{ %>
                            <tr>
                                <td>
                                    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #toggle-animation-multiple<%= count %>; animation:  uk-animation-slide-left, uk-animation-slide-bottom">Order <%= count %></button>
                                    <ul id="toggle-animation-multiple<%= count %>" class="uk-list uk-list-bullet" hidden>
                                        <% for(let pizza of Object.values(order.items)) { %>
                                        <li>
                                            <%= pizza.qty %>
                                            <%= pizza.item.name %>
                                        </li>
                                        <% } %>
                                        <li><a href="/customers/orders/<%= order._id %>" >Watch Status</a></li>
                                    </ul>
                                </td>
                                <td><%= order.address %></td>
                                <td><%= order.paymentType %></td>
                                <td><%= order.status %> at <%= moment(order.updatedAt).format('MMM Do, hh:mm A') %></td>
                            </tr>
                        <% count=count+1; }) %>
                    </tbody>
                </table> 
            <% } else { %>
                <ul class="uk-list uk-list-striped">
                    <li>Order Something Delicious Now...</li>
                </ul>
            <% } %>
        </div>
        <a href="#" style="height:1.5rem;color: black;text-align: center;background-color: skyblue; width: 2rem;border-radius: 50%;z-index: 1;position: fixed;margin-top: calc(100vh - 50px);margin-left: calc(100vw - 5rem);padding-top: 1rem;" uk-totop uk-scroll></a>
    
        <script>
            const oderlert = document.getElementById('order-alert')
            if(oderlert){
                setTimeout(()=>{
                    oderlert.remove()
                },2000)
            }
        </script>
    