<header class="uk-animation-fade" uk-scrollspy="cls:uk-animation-fade" style="z-index: 1; margin: 5px">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" >
			<nav class="uk-navbar-container uk-navbar-transparent uk-light" style="background-color: black;" uk-navbar>
				<a class="uk-navbar-item uk-hidden@s" type="button" uk-toggle="target: #offcanvas-nav-primary" uk-navbar-toggle-icon ></a>
						
						<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; esc-close: true">
							<div class="uk-offcanvas-bar uk-flex uk-flex-column">
								<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
									<li class="<% try { if (locals.active_home) { %><%= 'uk-active' %><% }} catch{}%>"><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
									
									<li class="uk-parent">
										<a href="/login"><span class="uk-margin-small-right" uk-icon="icon: info"></span>Login</a>
									</li>
									<li class="uk-nav-header">Creator : Harsh Gupta</li>
									<li class="uk-nav-divider"></li>
									<li><a href="/Register"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Register</a></li>
									<a class="uk-button uk-button-primary  LoginPageButton" style="display:none; padding:5px 20px 5px 20px" href="#modal-overflow" uk-toggle> Login/SignUp</a>
									<li class="cart"><a href='/cart'>
										<button class="uk-button uk-button-primary">
											<span id="cartCounter2" class="uk-icon uk-margin-small-right">
												<%= session.cart ? session.cart.totalQty : '  ' %>
											</span>Cart</button> 
									</a></li>			
								</ul>
							</div>
						</div>
					<a class="uk-navbar-item uk-logo uk-hidden@s" href="/"><img src="/media/img/logo.png" alt="HomePage"></a>
				<div class="uk-navbar-left uk-visible@s">
					
					<a class="uk-navbar-item uk-logo" href="/"><img src="/media/img/logo.png" alt="HomePage"></a>

					<ul class="uk-navbar-nav">
						<li class="<% try { if (locals.active_home) { %><%= 'uk-active' %><% }} catch{}%>">
							<a href="/">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
								Home
							</a>
						</li>
						
						<% if(!user) { %>
						<li class="<% try { if (locals.active_register) { %><%= 'uk-active' %><% }} catch{}%>">
							<a href="/register">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
							Register</a>
                        </li>
						<li class="<% try { if (locals.active_login) { %><%= 'uk-active' %><% }} catch{}%>">
							<a href="/login">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
							Login
							</a>	
						</li>
						
						<% }else{ %>
							
							<li class="<% try { if (locals.active_register) { %><%= 'uk-active' %><% }} catch{}%>">
								<a href="<% if(user.role == 'customer'){ %><%= '/customers/orders' %><% } %><% if(user.role == 'admin'){ %><%= '/admin/orders' %><% } %>">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
								Orders</a>
							</li>
							<% } %>
					</ul>
					<% if(user) { %>
							<form id="logOut" action="/logout" method="POST">
								<a onclick="document.getElementById('logOut').submit()" href="#">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
								<span style="color: beige;">Logout</span>
								</a>
							</form>	
					<% } %>
				</div>
				<div class="uk-navbar-right">
					<a class="cart-button" href="/cart" style="border:2px solid white;padding: 10px;margin-right:2rem;border-radius: 25%;">
							<span id="cartCounter1"><%= session.cart ? session.cart.totalQty : '  ' %></span>
							<img src="/media/img/cart.png">
					</a>
					<!-- <a href='/login'><button class="uk-button uk-button-primary LoginPageButton" style="display:none; padding:10px;margin: 10px">Login</button></a>
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;margin: 10px"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user;ratio: .85"></span>Profile</button> </a> -->
				</div>
				
			</nav>
		</div>

</header>